<form class="mt-5">
    <label class="name mb-2">Enter Your Name</label><br>

    <input class="mb-5 px-4" id="name" /><br>

    <p class="text-danger">{{this.error}}</p>

    <button type="button" class="mt-5 button" {{on "click" this.buttonClickValu}}>Start Game</button>

</form>